//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

//@import "utilities/borders";
@import "utilities/shadows";
@import "utilities/sizing";
@import "utilities/background";

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.progress.step {
  width: 200px;
}

.one, .two, .three, .four {
  position: absolute;
  z-index: 1;
  height: 10px;
  width: 10px;
  margin-top: -2px;
  border-radius: 25px;
  border: 2px solid $brand-primary;
  background: #fff;
}

.one {
  left: 14px;
}

.two {
  left: 75px;
}

.three {
  left: 140px;
}

.four {
  left: 203px;
}

.no-color{
  background-color: inherit;
}

.step-month {
  text-align: center;
  width: 18%;
  padding: 13px;
  background: #f3f3f3;
  margin: 19px;
  .title {
    font-size: 12px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
  }
}